@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Paleta azul */
  --blue-900: #040749;
  --blue-800: #0b0f69;
  --blue-700: #0d67bc;
  --blue-600: #4857ba;
  --blue-500: #5d6fd5;
}

/* Modo oscuro / claro */
[data-mode="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

[data-mode="light"] {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-900: var(--blue-900);
  --color-primary-800: var(--blue-800);
  --color-primary-700: var(--blue-700);
  --color-primary-600: var(--blue-600);
  --color-primary-500: var(--blue-500);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

.marquee-wrapper:hover .animate-marquee {
  animation-play-state: paused;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease;
}
